* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* GENERAL */
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-style {
   list-style: none;
}

.container {
   width: 90%;
   margin: auto;
}

.container2 {
   width: 80%;
   margin: auto;
}

/* START-HEADING */
.main-heading{
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    font-size: 26px;
    margin: 0 auto 50px;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.main-heading::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-heading:hover::before{
    animation: left-move 0.5s forwards linear ;
    z-index: -1;
}
.main-heading::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #291f9d;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}
.main-heading:hover::after{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}
.main-heading:hover{
    color: white;
    border-color:white;
    transition-delay:0.5s ;
}

@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left:0;
        width: 60%;
        height: 100%;
        border-radius: 0%;
    }
}

@keyframes right-move{ 
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right:0;
        width: 60%;
        height: 100%;
        border-radius: 0%;
    }
}

.header-section {
   margin: 40px 0;
}

/* END-HEADING */
/* END-GENERAL */

/* START-HEADER-SECTION */
header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 30px 0;
   position: absolute;
   width: 100%;
   z-index: 1;
}

header nav ul {
   border: 1px solid rgb(255, 255, 255);
   border-radius: 50px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
}

header nav ul li {
   display: inline-block;
   padding: 30px;
   cursor: pointer;
   font-size: 20px;
   color: rgb(255, 240, 240);
}


header nav ul li a {
   text-decoration: none;
   color: #fff;
} 

header nav ul li::first-letter {
   color: red;
   font-size: 23px;
   font-weight: 500;
}

header nav ul li.always:after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background-color: #291f9d;
}

header nav ul li::after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background-color: red;
   transition: all 0.5s;
}

header nav ul li:hover:after {
   width: 100%;
}

header .icons-header i {
   padding: 5px 25px; 
   color: #fff;
   font-size: 25px;
   cursor: pointer;
   transition: all 0.7s;
}

header .icons-header i:hover {
   transform: translateY(10px); 
   box-shadow: 1px 1px 3px #fff;
   -webkit-backdrop-filter: saturate(blur(7px));
   backdrop-filter: blur(7px);
   background-color: #291f9d;
   border-bottom: 0;
}

/* END-HEADER-SECTION */

/*START-SECTION-HERO */

.premiere-section {
   background-image: url(../images2/ملعب-بايرن-ميونيخ-اليانز-ارينا-2K-تنزيل-الخلفية--22348902.jpg);
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   margin: 0 auto;
}

.premiere-section .hero-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-200% , -30%);
   color: #ede2e2;
   line-height: 3.5;
   font-size: 20px;
   font-weight: lighter;
} 

.premiere-section .over-lay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

.hero-content .title-hero {
   border: 1px solid rgb(0, 0, 0);
   border-radius: 70px;
   border: 0;
   padding: 0 15px;
   background: -webkit-linear-gradient(rgba(255, 8, 8, 0.5),black);
   -webkit-backdrop-filter: blur(7px);
   backdrop-filter: blur(7px);
   font-size: 35px;
}

.premiere-section .hero-content span {
   color: red;
}

.hero-content > * {
   opacity: 0;
   transform: translateY(60px);
   animation: slide 700ms ease forwards;
}

@keyframes slide {
   0% {
      opacity: 0;
      transform: translateY(60px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.hero-content > *:nth-child(1) {
   animation-delay: 0.10s;
}

.hero-content > *:nth-child(2) {
   animation-delay: 0.30s;
}

.hero-content > *:nth-child(3) {
   animation-delay: 0.50s;
}

.hero-content > *:nth-child(4) {
   animation-delay: 0.70s;
}

.hero-content > *:nth-child(5) {
   animation-delay: 0.90s;
}

.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: #291f9d;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #ffffff;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.join {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: rgb(0, 0, 0);
  }

  50% {
    fill: #ffffff;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.soccer img{
   width: 80px;
   height: 80px;
   border-radius: 50px;
   position: absolute;
   top: 0;
   left: 0;
   animation: move 21s linear infinite , spin 2s linear infinite;
   animation-composition: add;
}

@keyframes move {
    0% {
      transform: translate(0,0);
    }

    15% {
      transform: translate(95vw, 0vh);
    }

    30% {
      transform: translate(90vw, 80vh);
    }

    45% {
      transform: translate(0vw, 85vh);
    }

    60% {
      transform: translate(10vw ,30vh);
    }

    75% {
      transform: translate(90vw, 50vh);
    }

    100% {
      transform: translate(0,0);
    }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* END-SECTION-HERO */

/*START-ABOUT-SECTION */

.about-section {
   height: auto;
   text-align: center;
   padding: 20px 0;
   background-color: #e7dddd;
}

.header-section .down {
   color: red;
   margin-bottom: 20px;
   transition: all 1s;
   animation: to-down 1.3s infinite;
}

@keyframes to-down {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(15px);  
   }

   100% {
      transform: translateY(0);
   }
}

.about-content {
   display: flex;
   margin-top: 80px;
   align-items: center;
   gap: 20px;
   overflow: hidden;
}

.about-left-side {
   flex: 1;
}

.about-left-side button {
   margin-top: 30px;
}

.about-content .about-title {
   line-height: 1.7;
   color: #000000;
   font-size: 27px;
   font-weight: 600;
   text-shadow: 1px 3px 10px #a11313;
   opacity: 0;
   animation: fade 1.5s forwards;
}

@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: #291f9d;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(0, 100%, 50%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(0, 76%, 28%) 0%,
    hsl(0, 77%, 24%) 8%,
    hsl(0, 71%, 11%) 92%,
    hsl(0, 0%, 0%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: -webkit-linear-gradient(rgb(0, 0, 0) , #8a8989);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.about-content .about-image {
   flex: 1;
}

.about-left-side .line {
   width: 170px;
   height: 4px;
   background: -webkit-linear-gradient(black , red);
   display: block;
   margin: auto;
   margin-top: 15px;
   border-radius: 50px;
}

.about-image {
   width: 200px;
   height: 450px;
   position: relative;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   animation: animate 15s infinite ease-in-out;
   border-radius: 25px;
   transition-delay: 5s;
}

.about-image::before {
   content: "";
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 1;
}

@keyframes animate {
   0% {
      background-image: url(../images2/يلاكورة-اجواء-ملعب-أليانز-أرينا-قبل-انطلاق-القمة-بين-بايرن-ميونخ-2094400006.jpg)
   }

   25% {
      background-image: url(../images2/Eintracht-Frankfurt-vs-Bayern-Munich-Live-stream-game-time-how-to-watch-Bavarian-Football-Works--620424349.jpg);
   }

   50% {
      background-image: url(../images2/b1ebbfcf2f1b48985fce9c4eb3153624.jpg);
   }

   75% {
      background-image: url(../images2/121-عاما-من-الفخامة-بايرن-ميونخ-يحتفل-بذكرى-تأسيسه-بعد-السداسية-418605010.jpg);
   }

   100% {
      background-image:url(../images2/Die-Fanszene-des-FC-Bayern-—-Tribunacom--1057162597.jpg)
   }

}

/* END-ABOUT-SECTION */

/* START-LEGENDS-SECTION */

.legends {
   height: auto;
   padding: 100px 0;
   perspective: 1000px;
   background-color: #c1b7b7;
}

.legends-content {
   display: flex;
   gap: 50px;
   flex-wrap: wrap;
   justify-content: center;
}

.legends-content .card-img1 {
   width: 300px;
   height: 400px;
   position: relative;
   transform-style: preserve-3d;  
   border-radius: 30px;
   transition: all 1s;
   cursor: pointer;
}

.legends-content .card-img1 img {
   width: 300px;
   height: 400px;
   border-radius: 10px;
}

.card-img1 .front-face {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2;
   backface-visibility: hidden;
   margin: 0;
   border-radius: 10px;
   box-shadow: 4px 4px 5px 3px rgb(30, 6, 6);

}

.card-img1 .back-face {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   box-shadow: 2px 2px 5px 3px rgb(30, 6, 6);
   backface-visibility: hidden;
   margin: 0;
   transform: rotateY(180deg);
   background: -webkit-linear-gradient(135deg , #1e293b, #0f172a);
   color: rgba(255, 255, 255, 0.7);
   text-align: center;
   line-height: 1.7;
   border-radius: 10px;
   padding: 10px;
   font-weight: 500;
} 

.legends-content .card-img1:hover {
   transform: rotateY(180deg);
} 

.back-face span {
   color: red;
}

/* END-LEGENDS-SECTION */

/* START-TROPHIES-SECTION */

.trophies {
   height: auto;
   background-color: #e7dddd;
   padding: 45px 0;
}

.trophies-content {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding-top: 30px;
   gap: 70px;
   justify-items: center;
}

.trophies-content .trophies-card {
   border: 1px solid black;  
   text-align: center;
   padding: 30px 100px;
   background: -webkit-linear-gradient(135deg,#988e8e,#e6dfdf);
   border-radius: 10px;
   box-shadow: 3px 3px 15px 5px rgb(0, 0, 0);
   margin-top: 50px;
   transition: all 0.5s;
}

.trophies-card:hover {
   
   transform: translateY(15px);
}

.trophies-card img {
   width: 110px;
   height: 110px;
   border-radius: 10px;
   transform: translateY(-80px);
}

.trophies-card h2 {
   color: rgb(50, 47, 47);
   font-size: 30px;
   transform: translateY(-70px);
   text-shadow: 2px 2px 2px #fff;
}

.trophies-card h3 {
   padding-bottom: 10px;
   font-size: 35px;
   transform: translateY(-35px);
   color: #3a3636;
}

.trophies-card  button {
   background: -webkit-linear-gradient(140deg,#8e1111,#041a4e);
   width: 140px;
   height: 40px;
   color: #fff;
   border-radius: 8px;  
   border: none;
   transition: all 1s;
   cursor: pointer;
   position: relative;
   padding-right: 40px;
   font-size: 14px;
}

.trophies-card button i {
   position: absolute;
   font-size: 20px;
   animation: left 1s infinite ease-in;
   padding-left: 20px;
}

@keyframes left{
   0% {
      transform: translateX(0);
   }

   50% {
      transform: translateX(5px);
   }

   100% {
      transform: translateX(0);
   }
}

/* END-TROPHIES-SECTION */

/* START-HISTORY-SECTION */

.history {
   height: auto;
   background-color: #c1b7b7;
   padding: 45px 0;
}

.header-item {
   padding: 25px 0;
   display: flex;
   gap: 30px;
}

.header-item .items {
   flex: 1;
   height: 550px;
   line-height: 1.5;
   margin-left: 15px;
   margin-bottom: 15px;
   border-radius: 20px;
   padding: 20px;
   background-color: #dfd5d5;
}

.items h4 {
   color: #ff0000;
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
   font-size: 25px;
   margin-bottom: 10px;
   position: relative;
}

.items h4::after {
   position: absolute;
   content: "";
   width: 80px;
   height: 2px;
   bottom: -6px;
   left: 0;
   background-color: rgba(4, 4, 4);
}

.items p {
   font-size: 17px;
   font-weight: 500;
   color: #000000;
}

.items ul li {
   font-weight: 500;
   font-size: 17px;
   color: #000000;
}

.items ul li i {
   font-size: 20px;
}

.header-item img {
   flex: 1;
   width: 200px;
   height: 550px;
   border-radius: 25px;
   transition: all 0.9s;
}

.item1 {
   margin-bottom: 10px;
}

/* END-HISTORY-SECTION */

/* START-LATEST-NEWS */

.news {
   height: auto;
   background-color: #e7dddd;
   padding: 45px 0;
}

.news-item {
   display: flex;
   flex-direction: row;
   gap: 50px;
   padding-top: 30px;
   justify-content: center;
}

.news-card {
   flex-direction: column;
   display: flex;
   width: 470px;
   height: 550px;
   text-align: center;
   box-shadow: 3px 3px 7px 2px rgb(50, 51, 55);
   border-radius: 10px;
}

.news-card img {
   width: 470px;
   height: 300px;
   border-radius: 10px;
}


.card-content h3{
  padding: 10px;
  color-scheme: #222;
}

.card-content p {
   color: #181616;
   font-weight: 600;
   padding: 20px 0 10px 0;
   flex-grow: 1;
}

.news-card button {
   margin: 30px 0;
   width: 160px;
   height: 40px;
   color: #fff;
   background-color: #041a4e;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s;
}

.news-card button:hover {
   opacity: 0.8;
}

/* END-LATEST-NEWS */

/* START-FOOTER ( FINAL ) */

.final {
   height: 570px;
   background-color: #000;
}

.final-content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px 30px;
   flex-wrap: wrap;
}
/******************************************/
.fin-left {
   flex: 1;
   margin-top: 40px;
}

.fin-left img {
   width: 250px;
   height: 305px;
   border-radius: 12px;
   margin-top: 23px;
   margin-left: 15px;
}

.fin-left h2 {
   color: rgb(250, 237, 167);
   margin-left: 66px;
   margin-top: 30px;
   font-size: 25px;
}
/******************************************/
.fin-centre {
   flex: 1;
   padding-top: 90px;
}

.fin-centre h2 {
   color: rgb(250, 237, 167);
   font-size: 20px;
}

.fin-centre ul li a {
   text-decoration: none;
   color: rgb(255, 254, 246);
   line-height: 1.9;
   font-size: 19px;
}
/*****************************************/
.fin-right-centre {
   flex: 1;
   padding-top: 90px;
}

.fin-right-centre h2 {
   color: rgb(250, 237, 167);
   font-size: 20px;

}

.fin-right-centre ul li {
   color: rgb(255, 254, 246);
   font-size: 19px;
   line-height: 2.5;
}

.fin-right-centre ul li a {
   text-decoration: none;
   color: rgb(255, 254, 246);
}

.fin-right-centre ul li a:hover {
   color: #d40000;
}
/******************************************/
.fin-right {
   flex: 1;
   padding-top: 90px;
}

.fin-right h2 {
   color: rgb(250, 237, 167); 
   font-size: 20px;
   margin-bottom: 25px;
}

.fin-right input {
   width: 250px;
   height: 40px;
   padding: 10px 12px;
   border-radius: 6px;
   border: none;
   font-size: 14px;
   transition: all 0.2s ease;
}

.fin-right input:focus {
   outline: none;
   transform: scale(1.02);
   box-shadow: 1px 1px 8px #d40000;
}

.fin-right button {
   position: relative;
   padding: 12px 18px;
   margin-left: 3px;
   border-radius: 6px;
   border: none;
   color: #fff;
   background: -webkit-linear-gradient(140deg,#8e1111,#041a4e);
   cursor: pointer;
   font-weight: bold;
   overflow: hidden;
   transition: transform 0.3s ease;
}

.fin-right button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(140deg,#041a4e,#8e1111);
  border-radius: 6px;
  border: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.fin-right button:hover::before {
   opacity: 1;
}

.fin-right button span {
   position: relative;
   z-index: 1;
}

.icon-foot {
   margin-top: 60px;
   margin-left: 20px;
}

.icon-foot a i {
   color: #fff;
   padding-left: 12px;
   margin: 0 5px;
   width: 50px;
   height: 50px;
   line-height: 50px;
   background: -webkit-linear-gradient(140deg,#041a4e,#8e1111);
   border-radius: 50%;
   transition: all 0.4s;
}

.icon-foot a i:hover {
   transform: translateY(7px);
}

.final p {
   color: #fff;
   margin-left: 35px;
   margin-top: 10px;
   font-size: 18px;
}

.final p span {
   color: rgb(250, 237, 167);
   font-weight: bold;
}

/* END-LOCATION */